HMG_JIRA_TOKEN=
HMG_JIRA_EMAIL=
IGNITE_JIRA_TOKEN=
IGNITE_JIRA_EMAIL=
IGNITE_CONFLUENCE_EMAIL=
IGNITE_CONFLUENCE_TOKEN=
HMG_CONFLUENCE_EMAIL=
HMG_CONFLUENCE_TOKEN=
H_CHAT_TOKEN=
GITLAB_EMAIL=
GITLAB_TOKEN=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
